<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	
	<title>Tree</title>
	<link rel="icon" href="/img/weather.png">
</head>
<body>
	<div class="main-content">
		
		{{>header}}
		<p>Tree</p>

		<img class="treeImg" src="/img/tree big2.png">
	</div>

	
	{{>footer}}
	<script type="text/javascript" src="/js/app.js"></script>
</body>

</html>

